*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

html {
  font-size: 62.5%; 
}
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; 
    } 
  }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; 
    } 
  }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; 
    } 
  }

body {
  box-sizing: border-box; 
}

@keyframes moveLeftIn {
  0% {
    opacity: 0;
    transform: translateX(-10rem); 
  }
  80% {
    transform: translateX(1rem); 
  }
  100% {
    opacity: 1;
    transform: translate(0); 
  } 
}

@keyframes moveRightIn {
  0% {
    opacity: 0;
    transform: translateX(10rem); 
  }
  80% {
    transform: translateX(-1rem); 
  }
  100% {
    opacity: 1;
    transform: translate(0); 
  } 
}

@keyframes moveBottomIn {
  0% {
    opacity: 0;
    transform: translateY(3rem); 
  }
  100% {
    opacity: 1;
    transform: translate(0); 
  } 
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; 
}

.heading-primary--main {
    display: block;
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 2.5rem;
    animation: moveLeftIn 1s ease-out; 
  }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        margin-bottom: 2rem;
        letter-spacing: 1rem;
        font-family: 5rem; 
      } 
    }
  .heading-primary--subs {
    display: block;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0.7rem;
    animation: moveRightIn 1s ease-in; 
  }
    @media (max-width: 37.5em) {
      .heading-primary--subs {
        letter-spacing: .3rem; 
      } 
    }

body {
  font-family: "Lato";
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  overflow-x: hidden; 
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; 
    } 
  }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); 
  }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 900;
  text-transform: uppercase; 
}

.paragraph {
  font-size: 1.45rem;
  text-align: justify; 
}

.paragraph:not(:last-child) {
  margin-bottom: 1rem; 
}

.u-center-text {
  text-align: center; 
}

.u-center-top-large {
  margin-top: -8rem; 
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important; 
}
  @media (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; 
    } 
  }

.u-margin-top-medium {
  margin-top: 4rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; 
}
  @media (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; 
    } 
  }

  @media (max-width: 37.5em) {
    .u-margin-bottom-medium {
      margin-bottom: 2rem !important;
    }
  }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; 
}

#inputcolumn {
  margin-bottom: 1.5rem;
  box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: center;
  font-family: "Lato";  
  margin-right: 50%;
  border: none;
  width: 33rem;
  height: 4rem;
}

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 15rem;
  transition: all .2s;
  position: relative; 
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2); 
}
  .btn:hover::after {
    transform: scale(1.2);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2); 
}

.btn--white {
  background-color: #fff;
  color: #777; 
}
  .btn--white::after {
    background-color: #fff; 
  }

.btn--green {
  background-color: #55c57a;
  color: #fff;
  margin: 8px;
}

.btn--green::after {
  background-color: #55c57a;
}

.btn--whitegreen {
  background-color: #37474F;
  color: #fff;
  margin: 1rem;
}

.btn--whitegreen::after {
  background-color: #37474F;
}


.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 15rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; 
}

.btn--animated {
  animation: moveBottomIn 1s .5s;
  animation-fill-mode: backwards; 
}

.header {
  height: 100vh;
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/itb.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%); 
}
  @media (max-width: 37.5em) {
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%); 
    } 
  }
  .header__logo-box {
    position: relative;
    top: 6rem;
    left: 6rem; 
  }
    @media (max-width: 37.5em) {
      .header__logo-box {
        left: 3rem; 
      } 
    }
  .header__logo {
    height: 3.5rem; 
  }
  .header__text-box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; 
  }

.row {
  max-width: 114rem;
  margin: 0 auto; 
}
  .row:not(:last-child) {
    margin-bottom: 8rem; 
  }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; 
      } 
    }
  @media (max-width: 56.25em) {
    .row {
      max-width: 45rem;
      padding: 0 3.5rem; 
    } 
  }
  .row::after {
    content: "";
    display: table;
    clear: both; 
  }
  .row [class^="col-"] {
    float: left; 
  }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 8rem; 
    }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; 
        } 
      }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; 
      } 
    }
  .row .col-1-of-2 {
    width: calc((100% - 8rem) / 2); 
  }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 8rem) / 3); 
  }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 8rem) / 3) + 8rem); 
  }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 8rem) / 4); 
  }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 8rem) / 4) + 8rem); 
  }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 8rem) / 4) + 2 * 8rem); 
  }

.navigation__checkbox {
  display: none; 
}

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 20;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }
  @media (max-width: 56.25em) {
    .navigation__button {
      top: 4rem;
      right: 4rem; 
    } 
  }
  @media (max-width: 37.5em) {
    .navigation__button {
      top: 3.5rem;
      right: 3.5rem; 
    } 
  }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#7ed56f, #28b485);
  z-index: 10;
  transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1); }
  @media (max-width: 56.25em) {
    .navigation__background {
      top: 4.5rem;
      right: 4.5rem; 
    } 
  }
  @media (max-width: 37.5em) {
    .navigation__background {
      top: 4rem;
      right: 4rem; 
    } 
  }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 15;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); 
}

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; 
}

.navigation__item {
  margin: 1rem; 
}

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 230%;
  transition: all .4s; 
}

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #55c57a;
  transform: translateX(1rem); 
}

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(100); 
}

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; 
}

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; 
}
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block; 
  }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0; 
  }
  .navigation__icon::before {
    top: -1rem; 
  }
  .navigation__icon::after {
    top: 1rem; 
  }

.navigation__button:hover .navigation__icon::before {
  top: -1.1rem; 
}

.navigation__button:hover .navigation__icon::after {
  top: 1.1rem; 
}

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; 
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(-45deg); 
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(45deg); 
}

.section-app {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }
  @media (max-width: 56.25em) {
    .section-app {
      padding: 25rem 0;
      margin-top: -15vh; 
    }
 }

 #posts {
   padding-left: 3rem;
 }

 .default-box {
   margin-bottom: 2rem;
   box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.2);
   height: 6rem;
   background-image: linear-gradient(to right, #E0E0E0, #EEE);
   border-radius: 10%;
 }

 .box-not-spam {
  margin-bottom: 2rem;
  box-shadow: 0 .5rem .5rem rgba(3, 160, 16, 0.6);
  height: 6rem;
  background-image: linear-gradient(to right, #E0E0E0, #EEE);
  border-radius: 10%;
 }

.box-spam {
  margin-bottom: 2rem;
  box-shadow: 0 .5rem .5rem rgba(183, 28, 28, 0.6);
  height: 6rem;
  background-image: linear-gradient(to right, #E0E0E0, #EEE);
  border-radius: 10%;
}
